<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.OrderMapper">

    <update id="updateByAccount" parameterType="com.example.backend.entity.Order">
        update `order`
        set money = #{u.money}
        where account = #{u.account}
    </update>

    <select id="selectMyPage" resultType="com.example.backend.entity.Order">
        SELECT * FROM `order`
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM `order`
    </select>
    <select id="selectBythis" resultType="com.example.backend.entity.Order">
        SELECT * FROM `order` where order_ID = #{u.orderId}
    </select>
</mapper>
